<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="重点用能数据上传.Properties.Settings.LocalDBConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=EnergyUp;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
        <add name="重点用能数据上传.Properties.Settings.EnergyUpConnectionString"
            connectionString="Data Source=(local);Initial Catalog=EnergyUp;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="重点用能数据上传.Properties.Settings.GraConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=EnergyUp;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>